.formContainer {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 1220px; */
  width: 80vw;
  max-width: 1400px;
  height: 800px;
  margin: auto;
}

.backContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.inputField {
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  width: 100%;
}

.iconButton {
  color: #1976d2; /* Primary color */
}

.gridContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.highlight-business {
  color: #5d6aab;
}

.customPlaceholder::placeholder {
  color: #d6d6d6;
  font-family: "Helvetica Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
