/* css code for js 2 */

.container {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1400px;
  min-height: 800px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.backContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.optionContainer {
  display: flex;
  padding: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto; 
  margin-right: auto;
  height: 180px;  
  width: 100%;
  max-width: 550px;
}



.imageContainer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #fcfcfc;
  border-radius: 10px;
  height: 162px;
  width: 162px;
}

.optionImage {
  width: 100%;
  max-width: 122px;
  height: auto;
  max-height: 122px;
}

.checkboxContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxLabel {
  margin: -5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.optionTitle {
  margin-bottom: 8px;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.selectAllButton {
  flex: 0 0 auto;
  top: -75px;
  right: -5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.27);
  width: 109.145px;
  height: 31.202px;
  color: white;
  /* padding: 5px 10px; */
}

.emergencyRelief {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
  width: 100%;  
  max-width: 1182px;  
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 70px;  
  background: linear-gradient(90deg, #ef8e38, #e5cb66);
  text-align: center;
  padding: 10px 15px;   
  box-sizing: border-box;
}

.nextButton {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.icon {
  width: 20px;
  height: 24px;
  margin: 0 5px 5px;
}

.rippleVisible {
  background-color: rgba(0, 0, 0, 0.1);
}

.gradient-purple {
  background: linear-gradient(90deg, #7b38a7, #cc9cea);
}

.gradient-blue {
  background: linear-gradient(90deg, #3964ce, #8fabe8);
}

.gradient-pink-orange {
  background: linear-gradient(90deg, #cd5e87, #d88454);
}

.gradient-green {
  background: linear-gradient(90deg, #719c31, #a6bc78);
}

.splitTitle {
  display: block;
}

.splitTitle .firstPart {
  display: block;
}

.splitTitle .secondPart {
  display: block;
}

.bottomBorderRadius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.highlight {
  text-transform: uppercase;
}

.highlight-business {
  color: #5d6aab;
}

.highlight-consumer {
  color: #9e5fc6;
}

.highlight-non-profit {
  color: #80be10;
}

/* @media (max-width: 1366px) {
  .container {
    padding: 24px;
  }

  .optionContainer {
    max-width: 500px;
    height: 180px;
  }

  .imageContainer {
    height: 140px;
    width: 140px;
  }

  .optionImage {
    max-width: 100px;
    max-height: 100px;
  }

  .checkboxLabel {
    font-size: 16px;
  }

  .optionTitle {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 20px;
  }

  .optionContainer {
    max-width: 450px;
    height: auto;
    min-height: 180px;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .checkboxContainer {
    width: 100%;
  }

  .emergencyRelief {
    max-width: 950px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .optionContainer {
    max-width: 100%;
  }

  .checkboxLabel {
    font-size: 14px;
  }

  .optionTitle {
    font-size: 18px;
  }

  .emergencyRelief {
    max-width: 100%;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 100%;
    height: auto;
    min-height: 800px;
  }
} */