.strengthIndicatorContainer {
  background-color: #f0f8ff;
  border-radius: 11px;
  padding: 10px;
  width: 430px;
  height: 179px;
  margin-top: -16px;
}

.strengthText {
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 5px;
}

.strengthBars {
  display: flex;
  justify-content: space-between;
}

.strengthBars div {
  width: 20%;
  height: 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
}

.suggestions {
  margin-left: 30px;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  list-style-type: disc;
  padding-left: 0;
  color: #253871;
  opacity: 0.4;
}
