.box {
  width: 580px;
  height: 901px;
  background-color: lightgrey;
  border-radius: 25px;
  background: var(--barcolor, white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.backContainer {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.imageContainer {
  padding: 1px;
  width: 210px;
  height: 180px;
  margin-top: 20px;
  background: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textSecondary {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-style: normal;
}

.highlight {
  text-transform: uppercase;
}

.highlight-business {
  color: #5d6aab;
}

.highlight-consumer {
  color: #9e5fc6;
}

.highlight-non-profit {
  color: #80be10;
}

.customPlaceholder::placeholder {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.1148;
}
